.category-button {
    padding: .75em .75em;
    margin: .125em;
    border: none;
    border-radius: 0.4em;
    background-color: green;
    font-size: 1.25em;
    border: 2px solid #4CAF50
}

.selected {
    background-color: greenyellow;
    color: white;
    border: none
}