.category-button {
    padding: 1em 1.5em;
    margin: .125em;
    border: none;
    border-radius: 0.5em;
    background-color: green;
    font-size: 1.25em;
}

.selected {
    background-color: greenyellow;
    color: white;
}