.Products {
    padding: 0em 1em;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    position: relative;
}
.description {
    font-size: 1.2em;
}
.product{
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
}

.productImage {
    height: auto;
    width: 100%;
}
.productImg{
    height: auto;
    width: 300px;
}

.productDetail {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eee;
    outline-style: auto;
    outline-width: 1px;
    margin: -170px 0 0 -170px;
}

.price {
    color: rgb(51, 51, 51);
    font-size: 1.3em;
}
/* .red-heart-checkbox {
    visibility: hidden;
} */
.red-heart-checkbox:checked + label:before {
    content: "";
    color: #f00;
}
.red-heart-checkbox + label:before {
    width: 31.5px;
    height: 30px;
    content: "";
    position: absolute;
    margin-left: -48px;
    margin-top: 3px;
    font-family: FontAwesome;
    font-size: 30px;
    content: "";
    transition: all 0.3s;
    color: #888;
}
.red-heart-checkbox + label:hover:before {
    transform: scale(1.2);
}

.control-group {
    margin: 3px;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
