.Products {
    padding: 0em 1em;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.description {
    font-size: 0.97em;
}
.product{
    grid-gap: 20px;
    display: flex;
    flex-direction: column;
}

.productImage {
    height: auto;
    width: 100%;
}

.price {
    color: rgb(51, 51, 51);
}